extends ../layout

block content
  h1= title
  p Welcome to #{category}
  p Welcome to #{book}

  script.
    var client = new Faye.Client('http://127.0.0.1:9090/faye', {timeout: 120,retry: 5});

    client.subscribe('/messages', function(message) {
      alert('Got a message: ' + message.text);
    });